@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family:
    'Mitr',
    'Sukhumvit Set',
    'IBM Plex Sans Thai',
    'Segoe UI',
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  @apply bg-slate-100 text-slate-800 antialiased;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}

::-webkit-scrollbar-track {
  background: transparent;
}